@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: tropical;
	src: url(../../fonts/TropicalAsianDemoRegular-11V0.ttf);
}

.font-tropical {
	font-family: tropical;
}
